
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Endyear Party</title>
    <link href="~/css/mystyle.css" rel="stylesheet"/>
</head>
<body>
    @* Gọi tất cả những đối tượng bên C# sử dụng dấu @ *@

    @ViewBag.loichao <br />
    Chào mừng bạn đã đến với website của K20B!
    <br />
    @Html.ActionLink("Xác nhận", "XuLy")
    B mới sửa đoạn này
    A mới viết viết đoạn này
</body>
</html>
